# Use taobao npm CDN for speed
# npm config set registry https://registry.npmmirror.com 
# verify:
# npm config get registry
registry=https://registry.npmmirror.com
# or use nrm to switch repo
# npm install -g nrm --registry=https://registry.npmmirror.com

