# Use taobao npm CDN for speed
# npm config set registry https://registry.npmmirror.com 
# verify:
# npm config get registry
registry=https://registry.npmmirror.com
# or use cnpm to speed up
# npm install -g cnpm --registry=https://registry.npmmirror.com

